{
  "type": "xxxxxxx",
  "project_id": "xxxxxxx",
  "private_key_id": "xxxxxxxx",
  "private_key": "xxxxxxxxxx",
  "client_email": "xxxxxxxxxxxxxxxxx",
  "client_id": "xxxxxxxxxxxxxxxxxxx",
  "auth_uri": "xxxxxxxxxxxxxxxxxxxx",
  "token_uri": "xxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "auth_provider_x509_cert_url": "xxxxxxxxxxxxxxxxx",
  "client_x509_cert_url": "xxxxxxxxxxxxxxxxxxx"
}